.t-l {text-align: left}
.t-c {text-align: center}
.t-r {text-align: right}

#home .el-main .input-area {padding: 20px}
#home .el-main .input-area .el-input--medium {width: 180px;margin-right: 10px}
#home .el-main .input-area .el-input--medium.w-160 {width: 160px}
#home .el-main .input-area .el-input--medium.w-240 {width: 240px}
#home .el-main .input-area .el-date-editor {margin-right:10px;}
#home .el-main .el-radio-button:hover {color:#2a7cf5}
#home .el-main .el-radio-button__orig-radio:checked+.el-radio-button__inner {color:#2a7cf5;border-color:#2a7cf5;background: #fff}
#home .el-main .el-button--primary,#home .el-main .el-button--info {width: 80px;margin-left: 20px;font-size: 12px;}
#home .el-main .el-button--primary {background: #006efe}

#home .el-main .bd {padding:0 20px;text-align: center}
#userList—main .el-dialog .el-dialog__header {
  text-align: center;
}
/*手动上下分*/
#Manual-main .el-form-item__label{
  font-weight: 700;
  font-size: 16px;
}
#Manual-main .el-textarea__inner {
  height:140px;
}
/*内部邮件*/
#InternalMail-main .el-textarea__inner {
  height: 80px;
}
/*每日签到*/
/*#DayCheck-main .el-form-item__content{
  line-height: 0;
}*/

/*充值优惠*/
#TopPref-main .el-button--warning , #Sales-main .el-button--warning {
  width: 120px;
}
/*业绩返佣*/

/*客服设置*/
#SetService-main  .el-textarea__inner {
  height: 80px;
}
/* 包管理 */

/* 包管理弹框头部内容位置调整 */
#packagemanage .el-dialog__header{
  text-align: center;
  padding-top: 35px
}

/* 弹框底部按钮位置 */
.el-dialog__footer{
  text-align: center;
  padding-bottom: 80px;
  margin-top: -40px
}

/* 弹框表单 */
#packagemanage .el-form-item,
#accountlist .el-form-item,
#managerlist .el-form-item,
#subaccount .el-form-item{
  display: inline-block;
}


#packagemanage .el-dialog__body,
#accountlist .el-dialog__body,
#managerlist .el-dialog__body,
#subaccount .el-dialog__body{
  padding:5px 80px 30px;
}

/* 包管理弹框多选间隔 */
#packagemanage .el-checkbox{
  margin-right: 50px;
}

/* 权限设置表格样式改变 */

#setlimit .permission-bd {
  padding: 0 20px;
}
#setlimit .permission-bd th {
  background: #f2f2f2!important;
  font-weight: normal;
}
#setlimit .permission-bd th,
#setlimit .permission-bd td {
  padding-left: 40px;
  color: #333;
}
#setlimit .permission-bd .el-button--info {
  margin-left: 0;
}



